* {
  box-sizing: border-box;
}
@font-face {
  font-family: BC;
  src: url(/font/Nanum_Pen_Script/NanumPenScript-Regular.ttf);
}
body {
  min-width: 900px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.navbar {
  height: 60px;
  padding: 10px 30px;
  background-color: white;
  /* border: 1px solid black; */
}
.navbar > a {
  /* 메인 제목 */
  float: left;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
}
.navbar > ul {
  float: right;
}
.navbar > ul > li {
  display: inline;
  margin-left: 10px;
}
.navbar > ul > li > a {
  /* 상단 메뉴 글자 */
  font-size: 17px;
  font-weight: 700;
}
.header {
  width: 100%;
  height: 400px;
  background-image: url(/장신구/메인\ 이미지.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  margin: 30px 0;
  font-size: 30px;
  text-align: center;
}
.products {
  /* 그림 사이즈 300 마진 20 */
  width: 960px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}
.products > a {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 100px;
}
.products > a:nth-child(3n) {
  margin-right: 0;
}
.products > a img {
  width: 300px;
  height: 300px;
}
.products ul {
  padding: 0;
  text-align: center;
  margin: 20px auto 0;
}
.products ul li {
  /* 상품명 */
  font-size: 22px;
  font-weight: bold;
  font-family: BC;
  margin: 10px;
}
.footer {
  clear: both;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
.footer > a img {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
}
.footer > p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
}
