body {
  text-align: center;
}
h1 {
  border: 5px solid;
  margin: 10px auto;
  width: 12%;
}
li {
  font-size: 20px;
  display: inline;
  list-style: none;
  margin: 10px;
  color: blue;
}
.home {
  font-weight: 700;
}
